# NPM / Yarn / Pnpm
npm-debug.log
yarn-error.log
pnpm-lock.yaml
node_modules/

# Build artifacts and asset stuff
build/*
screens
FontAwesome-Vectors.pdf
index.html

# Vim swaps
*.sw*

# sed backups
*.bak

# Annoying mac stuff
.DS_STORE

# Xcode
*.xcuserstate
*.xcworkspace
xcuserdata
UserInterfaceState.xcuserstate

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

*.xcodeproj/xcuserdata/*.xcuserdatad

*.xccheckout
*.xcuserdatad

*.pyc

.User.xcconfig

Tools/xctool/build
Tools/clang/analyzer/build
Tools/clang/libtooling/build
Tools/clang/clang-ocaml/build
Tools/clang/xcode
VendorLib/Breakpad/src/tools/mac/dump_syms/build
DerivedData
VendorLib/clang/lib/arc
VendorLib/clang/lib/c++

.idea
