# NPM
npm-debug.log
node_modules/

# Build artifacts and asset stuff
build/*
build/bundle.js
build/bundle.*.js
build/main.*.css
screens
FontAwesome-Vectors.pdf
index.html

# Vim swaps
*.sw*

# Annoying mac stuff
.DS_STORE

# Casper stuff
src/__tests__/casperjs/screenshots/*.png
src/__tests__/casperjs/*.js-e

# Xcode
*.xcuserstate
*.xcworkspace
xcuserdata
UserInterfaceState.xcuserstate
xcuserdata/
