<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=800, initial-scale=0.25">
  <title>Learn Git Branching</title>
	<meta name="author" content="Peter Cottle">

  <meta property="og:title" content="Learn Git Branching"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://pcottle.github.io/learnGitBranching/index.html?demo"/>
  <meta property="og:image" content="http://pcottle.github.io/learnGitBranching/assets/learnGitBranching.png"/>
  <meta property="og:description" content="A interactive Git visualization tool to educate and challenge!"/>

	<link rel="stylesheet" href="build/main.053c68bc.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="src/style/font-awesome.css" type="text/css" charset="utf-8">
</head>
<body>

  <!-- The entire interface is within this div -->
  <div id="interfaceWrapper" class="box horizontal flex1">
    <div id="controls" class="box vertical flex1 visBackgroundColor">
      <div id="commandLineHistory" class="box vertical flex3">
          <div class="toolbar box vertical center">
            <div class="controls box horizontal justify">
              <div class="box flex1">
                <div class="close">
                </div>
              </div>
              <div class="box flex1">
                <div class="minimize">
                </div>
              </div>
              <div class="box flex1">
                <div class="plus">
                </div>
              </div>
            </div>
            <div>
              <i class="icon-home"></i>
              <span class="intl-aware" data-intl="learn-git-branching">
                Learn Git Branching
              </span>
            </div>
          </div>
        <div id="terminal" class="box flex1 horizontal startAlign">
          <div id="commandDisplay" class="box vertical flex1">
          </div>
        </div>

        <div id="commandLineBar" class="box vertical flex0">
          <div id="prompt" class="">
            <span class="promptSign box">$</span>
            <span class="cursor box">&nbsp;</span>
            <p class="command"></p>
          </div>
          <textarea id="commandTextField"></textarea>
        </div>
      </div>
    </div>

    <div id="mainVisSpace" class="box flex1 horizontal visBackgroundColor">
    </div>
  </div>

  <div id="canvasHolder">

  </div>

  <!-- lol inline styles -->
  <a href="https://github.com/pcottle/learnGitBranching" target="_blank" style="z-index: 99; position: fixed; top: 0; right: 0">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
  </a>

  <!-- Dependencies -->
  <script src="lib/jquery-1.8.0.min.js"></script>
  <script src="lib/jquery-ui-1.9.0.custom.min.js"></script>
  <script src="lib/underscore-min.js"></script>
  <script src="lib/backbone-min.js"></script>
  <script src="lib/backbone.localStorage-min.js"></script>
  <script src="lib/raphael-min.js"></script>

  <!-- Templates from here on out. Someone seriously needs to fix template
       management for node.js apps. I know there is the text plugin
       for requireJS but that's lame. For now, they are all listed here... -->
  <script type="text/html" id="command-template">
       <p class="commandLine transitionBackground <%= status %>">
        <span class="prompt">$</span>
        <%= rawStr %>
        <span class="icons transitionAllSlow">
          <i class="icon-exclamation-sign"></i>
          <i class="icon-check-empty"></i>
          <i class="icon-retweet"></i>
          <i class="icon-check"></i>
        </span>
      </p>

      <div class="commandLineResult <%= resultType %>">
        <%= result %>
      </div>

      <div class="commandLineWarnings">
        <%= formattedWarnings %>
      </div>
  </script>

  <script type="text/html" id="helper-bar-template">
    <% for(var i = 0; i < items.length; i++) { %>
      <% if (items[i].text) { %>
        <a data-id="<%= items[i].id %>"><%= items[i].text %></a>
      <% } else { %>
        <a data-id="<%= items[i].id %>">
          <i data-id="<%= items[i].id %>" class="icon-<%= items[i].icon %>"></i>
        </a>
      <% } %>
    <% } %>
  </script>

  <script type="text/html" id="level-toolbar-template">
    <div class="toolbar level-toolbar box vertical center transitionAll hidden">
      <div>
        <i class="icon-bolt"></i>
          Level
            <span class="levelToolbarSpan">
              <%= name %>
            </span>
      </div>
    </div>
  </script>

  <script type="text/html" id="modal-view-template">
    <div class="contentHolder box vertical center flex1">
    </div>
  </script>

  <script type="text/html" id="terminal-window-bare-template">
    <div class="terminal-window-holder box flex10 vertical transitionTransform slideOut">
      <div class="wrapper box vertical">
        <div class="toolbar box vertical center">
          <div class="controls box horizontal justify">
            <div class="box flex1">
              <div class="close">
              </div>
            </div>
            <div class="box flex1">
              <div class="minimize">
              </div>
            </div>
            <div class="box flex1">
              <div class="plus">
              </div>
            </div>
          </div>
          <div>
            <i class="icon-cog"></i>
            <%= title %>
          </div>
        </div>
        <div class="terminal-text">
          <p class="helperText">
            <%= text %>
          </p>
        </div>
        <div class="inside box flex1">
        </div>
      </div>
    </div>
    <div class="box flex3">
    </div>
  </script>

  <script type="text/html" id="terminal-window-template">
    <div class="terminal-window box horizontal flex3 transitionAll">
      <div class="box flex3">
      </div>

      <div class="terminal-window-holder box flex10 vertical transitionTransform">
        <div class="toolbar box vertical center">
          <div class="controls box horizontal justify">
            <div class="box flex1">
              <div class="close">
              </div>
            </div>
            <div class="box flex1">
              <div class="minimize">
              </div>
            </div>
            <div class="box flex1">
              <div class="plus">
              </div>
            </div>
          </div>
          <div>
            <i class="icon-cog"></i>
            <%= title %>
          </div>
        </div>

        <div class="inside">
        </div>
      </div>

      <div class="box flex2">
      </div>
    </div>
  </script>

  <script type="text/html" id="level-dropdown-view">
  </script>

  <script type="text/html" id="series-view">
    <div class="displayName">
      <h3> <%= displayName %> </h3>
    </div>
    <p class="about">
      <%= about %>
    </p>
    <div class="iconHolder box horizontal">
      <% for (var i = 0; i < ids.length; i++) { %>
        <div class="levelIcon box center centerAlign vertical" id="levelIcon-<%=ids[i]%>" data-id="<%=ids[i]%>">
          <div class="index box" data-id="<%=ids[i]%>">
            <i class="icon-ok-circle" data-id="<%=ids[i]%>"></i>
            <div class="indexNum" data-id="<%=ids[i]%>">
              <%= i + 1 %>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </script>

  <script type="text/html" id="git-demonstration-view">
    <div class="demonstrationText box vertical">
      <div class="beforeText">
        <p>
          <%= beforeHTML %>
        </p>
      </div>

      <div class="command center">
        <p class="uiButton uiButtonYellow transitionOpacity">
          <%= command %>
        </p>
      </div>

      <div class="afterText transitionOpacity">
        <p>
          <%= afterHTML %>
        </p>
      </div>
    </div>

    <div class="visHolder box vertical flex1">
      <div class="visHolderInside box flex1">
      </div>
    </div>
  </script>

  <script type="text/html" id="general-button">
      <%= buttonText %>
  </script>

  <script type="text/html" id="demonstration-builder">
    <div class="insideBuilder box vertical">
    </div>
    <div class="buttons box horizontal center">
      <div class="uiButton testButton">
        Test View
      </div>
    </div>
  </script>

  <script type="text/html" id="multi-view-builder">
    <div class="viewSoFar box vertical">
      <% if (!views.length) { %>
        <h3> You have no views specified yet! Add some with the buttons below </h3>
      <% } %>
      <% for (var i = 0; i < views.length; i++) { %>
        <div class="view box horizontal centerAlign justify">
          <div class="box horizontal">
            <div class="info">
              View
              #<%= i + 1 %>: <%= views[i].type %>
            </div>
          </div>
          <div class="singleViewButtons box horizontal">
            <div class="uiButton uiButtonRed box deleteButton" data-index="<%=i%>">
              Delete
            </div>
            <div class="uiButton uiButtonWhite box editButton" data-index="<%=i%>" data-type="<%= views[i].type %>">
              Edit
            </div>
            <div class="uiButton box testButton" data-index="<%=i%>">
              Test
            </div>
          </div>
        </div>
      <% } %>
    </div>
    <div class="buttons box horizontal center">
      <% for (var i = 0; i < supportedViews.length; i++) { %>
        <div class="uiButton addView uiButtonYellow" data-type="<%=supportedViews[i]%>">
        Add <%=supportedViews[i]%> View
        </div>
      <% } %>
    </div>
    <div class="controlsForView box horizontal center">
        <div class="uiButton uiButtonRed cancelView">
          Cancel
        </div>
        <% if (views.length) { %>
          <div class="uiButton uiButtonWhite testEntireView">
            Test Entire View
          </div>
          <div class="uiButton saveView">
            Save Entire View
          </div>
        <% } %>
   </div>
  </script>

  <script type="text/html" id="text-grabber">
    <p class="helperText">
      <%= helperText %>
    </p>
    <textarea></textarea>
  </script>

  <script type="text/html" id="markdown-presenter">
      <p class="helperText textAlignCenter">
        <%= previewText %>
      </p>
        <textarea><%= fillerText %></textarea>
  </script>

  <script type="text/html" id="markdown-grabber-view">
    <div class="inputSide box vertical">
      <div class="markdownGrabberInput">
        <textarea><%= fillerText %></textarea>
      </div>
    </div>

    <div class="box vertical flex1">
      <p class="helperText textAlignCenter">
        <%= previewText %>
      </p>

      <div class="markdownGrabberPreview box flex1 vertical">
        <div class="insidePreview">
        </div>
      </div>
    </div>
  </script>


  <script type="text/html" id="modal-alert-template">
    <h2>
      <%= title %>
    </h2>
    <p>
      <%= text %>
    </p>
  </script>

  <script type="text/html" id="interactive-rebase-template">
    <div class="iRebaseDialog wrapper transitionAllSlow">
      <p>
        Rebasing <%= num %> Commits
      </p>
      <p class="helperText">
        (Drag and drop to re-order. Toggle the "pick" button to omit or re-add a commit)
      </p>
      <div class="entryHolders">
        <ul class="rebaseEntries">

        </ul>
      </div>

      <div class="confirmCancel">
      </div>
    </div>
  </script>

  <script type="text/html" id="left-right-template">
    <% if (showLeft) { %>
      <div class="box left">
    <% } else { %>
      <div class="box left hideLeft">
    <% } %>
      <i class="icon-circle-arrow-left"></i>
    </div>
    <div class="box right">
      <% if (!lastNav) { %>
        <i class="icon-circle-arrow-right"></i>
      <% } else { %>
        <i class="icon-ok"></i>
      <% } %>
    </div>
  </script>

  <script type="text/html" id="confirm-cancel-template">
    <a class="box cancelButton uiButton uiButtonRed">
      <%= cancel %>
    </a>
    <a class="box confirmButton uiButton uiButtonYellow">
      <%= confirm %>
    </a>
  </script>

  <script type="text/html" id="interactive-rebase-entry-template">
    <li id="<%= id %>" class="rebaseEntry transitionOpacity">
      <div class="wrapper">
        <i class="icon-align-justify"></i>
        <span class="idwrapper">
          <%= id %>
        </span>
        <a id="toggleButton" class="uiButton uiButtonPink">
          Pick
        </a>
      </div>
    </li>
  </script>

  <!-- The compiled and minified build file (that actually does everything) is below.
       For a much easier time perusing the source, see the individual files at:
          https://github.com/pcottle/learnGitBranching
  -->
  <script src="build/bundle.min.0de74cdc.js"></script>

  <!-- The advantage of github pages: super-easy, simple, slick static hostic.
       The downside? No raw logs to parse for analytics, so I have to include
       Google analytics :-/ -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37500646-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>

