html {
  height: 100%;
}

body {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

html, body {
  -webkit-perspective: 600px;

  font-family: Monaco, Courier, font-monospace;
  color: #eee;
}

/* Box Model */
html,
body,
div.box {
  display: -webkit-box;
}

div.flex0 {
  -webkit-box-flex: 0;
}

body,
div.flex1 {
  -webkit-box-flex: 1;
}

div.flex2 {
  -webkit-box-flex: 2;
}

div.flex3 {
  -webkit-box-flex: 3;
}

html,
body,
div.vertical {
  -webkit-box-orient: vertical;
}

div.horizontal {
  -webkit-box-orient: horizontal;
}

/* Transition */
.transitionBackground {
  -webkit-transition: background 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -moz-transition: background 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -ms-transition: background 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -o-transition: background 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  transition: background 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
}

.transitionOpacity {
  -webkit-transition: opacity 1700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -moz-transition: opacity 1700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -ms-transition: opacity 1700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -o-transition: opacity 1700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  transition: opacity 1700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
}

.transitionAllSlow {
  -webkit-transition: all 1700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -moz-transition: all 1700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -ms-transition: all 1700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -o-transition: all 1700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  transition: all 1700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
}

#canvasWrapper {
  box-shadow: 0px 0px 3px black inset;
}

#interfaceWrapper {
  min-width: 600px;
}

#controls {
  max-width: 400px;
  background: #4183C4;
}

#canvasWrapper {
}

#commandTextField {
}

/* Toolbar */

div.toolbar {
  /* borrowed from try.github.com along with a bunch of other things */
  background-image: -webkit-linear-gradient(top, #EFEDEE, #C1C1C1);
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #6287A4;
  border-bottom: 0;
  height: 30px;
  position: relative;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: black;
  -webkit-box-pack: center;
}

div.toolbar div.controls {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 57px;
  height: 13px;
  -webkit-box-pack: justify;
}

div.toolbar div.controls div i {
  text-shadow: 0.1em 0.1em rgba(255, 255, 255, 0.5);
}

div.toolbar div.controls div.box.flex1 {
  text-align: center;
}

div.toolbar div.controls div.box.flex1 div {
  width: 12px;
  height: 11px;
  border-radius: 24px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7) inset;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid #413838;
  border-bottom: 1px solid #8B8B8B;
  cursor: pointer;
}

div.controls div.box.flex1 div.close {
  background: #ed7171;
  background: -webkit-gradient(linear, left top, left bottom, from(#960000), to(#ed7171));
  background: -webkit-linear-gradient(top, #960000, #ed7171);
  background: -moz-linear-gradient(top, #960000, #ed7171);
  background: -ms-linear-gradient(top, #960000, #ed7171);
  background: -o-linear-gradient(top, #960000, #ed7171);
}

div.controls div.box.flex1 div.minimize {
  background: #e2ed93;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6f51b), to(#e2ed93));
  background: -webkit-linear-gradient(top, #e6f51b, #e2ed93);
  background: -moz-linear-gradient(top, #e6f51b, #e2ed93);
  background: -ms-linear-gradient(top, #e6f51b, #e2ed93);
  background: -o-linear-gradient(top, #e6f51b, #e2ed93);
}

div.controls div.box.flex1 div.plus {
  background: #75e86f;
  background: -webkit-gradient(linear, left top, left bottom, from(#36b309), to(#75e86f));
  background: -webkit-linear-gradient(top, #36b309, #75e86f);
  background: -moz-linear-gradient(top, #36b309, #75e86f);
  background: -ms-linear-gradient(top, #36b309, #75e86f);
  background: -o-linear-gradient(top, #36b309, #75e86f);
}

/* Command Line */

p.commandLine, p.commandLineResult {
  opacity: 1;
  font-size: 16px;
  margin: 0px;
}

p.commandLine span.icons {
  float: right;
}

p.commandLine span.icons i:last-child {
  margin-right: 5px;
}

p.commandLine span.icons i:first-child {
  margin-left: 5px;
}

p.commandLine span.icons i {
  opacity: 0;
}

p.commandLine.inqueue span.icons i.icon-check-empty,
p.commandLine.error span.icons i.icon-exclamation-sign,
p.commandLine.processing span.icons i.icon-retweet,
p.commandLine.finished span.icons i.icon-check {
  opacity: 1;
}

p.commandLine.inqueue span.icons {
  background-color: #EBEB24;
  color: black;
}

p.commandLine.processing span.icons {
  background-color: #88E748;
  color: black;
}

p.commandLine.finished span.icons {
  background-color: #0066cc;
  color: white;
}

p.commandLine.error span.icons {
  background-color: red;
}

p.commandResult {
  color: blue;
}

p.commandError, p.errorResult {
  color: red;
}

p.commandLine span.prompt {
  color: greenyellow;
  font-weight: bold;
}

#commandLineBar {
  text-align: center;
}

#commandLineHistory {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

#terminal {
  background: #424242;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3) inset;
  border: 1px solid #6287A4;
  border-radius: 0 0 5px 5px;
}

