html {
  height: 100%;
}

body {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

html, body {
  font-family: Monaco, Courier, font-monospace;
  color: #eee;
}

/* Box Model */
html,
body,
.box {
  display: -webkit-box;
}

.flex0 {
  -webkit-box-flex: 0;
}

body,
.flex1 {
  -webkit-box-flex: 1;
}

.flex2 {
  -webkit-box-flex: 2;
}

.flex3 {
  -webkit-box-flex: 3;
}

html,
body,
.vertical {
  -webkit-box-orient: vertical;
}

.horizontal {
  -webkit-box-orient: horizontal;
}

.center {
  -webkit-box-pack: center;
}

.justify {
  -webkit-box-pack: justify;
}

/* Transition */
.transitionBackground {
  -webkit-transition: background 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -moz-transition: background 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -ms-transition: background 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -o-transition: background 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  transition: background 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
}

.transitionTransform {
  -webkit-transition: -webkit-transform 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -moz-transition: -moz-transform 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -ms-transition: -ms-transform 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -o-transition: -o-transform 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  transition: transform 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
}

.transitionOpacity {
  -webkit-transition: opacity 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -moz-transition: opacity 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -ms-transition: opacity 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -o-transition: opacity 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  transition: opacity 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
}

.transitionOpacityLinear {
  -webkit-transition: opacity 700ms linear;
  -moz-transition: opacity 700ms linear;
  -ms-transition: opacity 700ms linear;
  -o-transition: opacity 700ms linear;
  transition: opacity 700ms linear;
}


.transitionOpacitySlow {
  -webkit-transition: opacity 1700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -moz-transition: opacity 1700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -ms-transition: opacity 1700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -o-transition: opacity 1700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  transition: opacity 1700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
}

.transitionAll {
  -webkit-transition: all 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -moz-transition: all 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -ms-transition: all 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -o-transition: all 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  transition: all 700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
}

.transitionAllSlow {
  -webkit-transition: all 1700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -moz-transition: all 1700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -ms-transition: all 1700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  -o-transition: all 1700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
  transition: all 1700ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
}

/* Some interface things */

div.canvasTerminalHolder {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#canvasHolder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#mainVisSpace {
  background-color: #24A7FF;
}

#interfaceWrapper {
  min-width: 600px;
  min-height: 600px;
}

div.canvasTerminalHolder div.terminal-window-holder {
  margin: 50px 0;
  height: 100%;
  -webkit-transform: translate3d(0,0,0);
}

div.canvasTerminalHolder div.terminal-window-holder.slideOut {
  -webkit-transform: translate3d(-150%,0,0);
}

div.canvasTerminalHolder div.terminal-window-holder div.wrapper {
  margin: 0 20px 0px 20px;
  height: 80%;
  box-shadow: 0 0 30px rgb(0,0,0);
  cursor: pointer;
}

div.canvasTerminalHolder div.terminal-window-holder div.terminal-text {
  padding: 5px 10px;
}

div.canvasTerminalHolder div.terminal-window-holder div.toolbar,
div.canvasTerminalHolder div.terminal-window-holder div.terminal-text,
div.canvasTerminalHolder div.terminal-window-holder div.inside {
  border: 0px;
}

div.canvasTerminalHolder div.terminal-window-holder div.terminal-text,
div.canvasTerminalHolder div.terminal-window-holder div.inside {
  background: #ff4c7e;
}

div.canvasTerminalHolder div.terminal-window-holder div.inside {
  min-height: 200px;
  border-radius: 0 0 5px 5px;
}

div.canvasTerminalHolder div.terminal-window-holder,
#controls {
  max-width: 400px;
}

#controls {
  background: #EEE;
}

/* Toolbar */

div.toolbar {
  /* borrowed from try.github.com along with a bunch of other things */
  background-image: -webkit-linear-gradient(top, #EFEDEE, #C1C1C1);
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #6287A4;
  border-bottom: 0;
  height: 30px;
  position: relative;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: black;
  -webkit-box-pack: center;
}

div.toolbar div.controls {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 57px;
  height: 13px;
  -webkit-box-pack: justify;
}

div.toolbar div.controls div i {
  text-shadow: 0.1em 0.1em rgba(255, 255, 255, 0.5);
}

div.toolbar div.controls div.box.flex1 {
  text-align: center;
}

div.toolbar div.controls div.box.flex1 div {
  width: 12px;
  height: 11px;
  border-radius: 24px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7) inset;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid #413838;
  border-bottom: 1px solid #8B8B8B;
  cursor: pointer;
}

div.controls div.box.flex1 div.close {
  background: #ed7171;
  background: -webkit-gradient(linear, left top, left bottom, from(#960000), to(#ed7171));
  background: -webkit-linear-gradient(top, #960000, #ed7171);
  background: -moz-linear-gradient(top, #960000, #ed7171);
  background: -ms-linear-gradient(top, #960000, #ed7171);
  background: -o-linear-gradient(top, #960000, #ed7171);
}

div.controls div.box.flex1 div.minimize {
  background: #e2ed93;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6f51b), to(#e2ed93));
  background: -webkit-linear-gradient(top, #e6f51b, #e2ed93);
  background: -moz-linear-gradient(top, #e6f51b, #e2ed93);
  background: -ms-linear-gradient(top, #e6f51b, #e2ed93);
  background: -o-linear-gradient(top, #e6f51b, #e2ed93);
}

div.controls div.box.flex1 div.plus {
  background: #75e86f;
  background: -webkit-gradient(linear, left top, left bottom, from(#36b309), to(#75e86f));
  background: -webkit-linear-gradient(top, #36b309, #75e86f);
  background: -moz-linear-gradient(top, #36b309, #75e86f);
  background: -ms-linear-gradient(top, #36b309, #75e86f);
  background: -o-linear-gradient(top, #36b309, #75e86f);
}

/* Command Line */

p.commandLine, div.commandLineResult {
  opacity: 1;
  font-size: 16px;
  margin: 0px;
}

div.commandLineWarnings p,
div.commandLineResult p {
  margin: 0px;
}

div.commandLineResult p:first-child,
div.commandLineWarnings p:first-child {
  padding-top: 8px;
}

div.commandLineResult p:last-child,
div.commandLineWarnings p:last-child {
  padding-bottom: 8px;
}

div.commandLineWarnings p i.icon-exclamation-sign {
  color: yellow;
  margin-right: 5px;
}

p.commandLine span.icons {
  float: right;
}

p.commandLine span.icons i:last-child {
  margin-right: 5px;
}

p.commandLine span.icons i:first-child {
  margin-left: 5px;
}

p.commandLine span.icons i {
  opacity: 0;
}

p.commandLine.inqueue span.icons i.icon-check-empty,
p.commandLine.error span.icons i.icon-exclamation-sign,
p.commandLine.warning span.icons i.icon-exclamation-sign,
p.commandLine.processing span.icons i.icon-retweet,
p.commandLine.finished span.icons i.icon-check {
  opacity: 1;
}

p.commandLine.warning span.icons {
  background-color: #E0FF00;
  color: black;
}

p.commandLine.inqueue span.icons {
  background-color: #EBEB24;
  color: black;
}

p.commandLine.processing span.icons {
  background-color: #88E748;
  color: black;
}

p.commandLine.finished span.icons {
  background-color: #0066cc;
  color: white;
}

p.commandLine.error span.icons {
  background-color: red;
}

p.commandResult {
  color: blue;
}

p.commandError, p.errorResult {
  color: red;
}

#commandLineBar #prompt span.promptSign,
p.commandLine span.prompt {
  color: greenyellow;
  font-weight: bold;
}

#commandLineBar #commandTextField {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

#commandLineHistory {
  margin: 10px;
  border-radius: 5px;
  /*
  UGHHHh the box shadow looks SO much better, but causes an extra 12ms in the paint update
  when typing in the box. sadness. i will remove for perf, maybe add back in later.
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  */
}

#prompt {
  text-align: left;
}

#prompt span {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

#prompt span.cursor {
  background: #DDD;
  position: relative;
  opacity: 0;
}

#prompt span.cursor.shown {
  opacity: 0.7;
}

#commandLineBar,
.terminal-window .inside,
li.rebaseEntry,
#terminal {
  background: #424242;
}

#terminal,
.terminal-window .inside,
#commandLineBar {
  border: 1px solid #303030;
}

#terminal {
  border-bottom: 0;
  -webkit-box-align: start;
}

#commandLineBar,
.terminal-window .inside {
  border-top: 0;
  border-radius: 0 0 5px 5px;
  padding: 3px;
}

/* interactive rebase CSS */
.iRebaseDialog.wrapper {
  padding: 20px;
}

#dialogHolder.shown .iRebaseDialog.wrapper {
  margin-top: 30%;
}

div.terminal-text p.helperText,
.iRebaseDialog p.helperText {
  font-size: 10px;
}

.iRebaseDialog p.helperText {
  color: #999;
  margin: 0;
  padding: 0;
}

.iRebaseDialog div.entryHolders {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.iRebaseDialog div.entryHolders ul.rebaseEntries {
  list-style-type: none;
  -webkit-padding-start: 0;
}

li.rebaseEntry {
  margin: 10px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  cursor: move;
  padding: 10px 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

li.rebaseEntry.ui-state-highlight {
  padding: 21px;
  border: 1px dashed rgba(0, 0, 0, 0.5);
}

/* wtf jquery UI sortable is barfing here on calculating the position... */
li.rebaseEntry.ui-sortable-helper {
  height: auto !important;
  width: auto !important;
  position: relative !important;
  top: 0px !important;
  left: -20px;
  display: none;
}

li.rebaseEntry a#toggleButton {
  cursor: pointer;
  float: right;
  position: relative;
  font-size: 14px;
  top: -5px;
  right; -5px;
}

li.rebaseEntry.notPicked {
  opacity: 0.2;
}
/* Modal Views */

.modalView {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  -webkit-transform-style: preserve-3d;

  background: rgba(0, 0, 0, 0.6);
/*  -webkit-box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.9);*/

  z-index: -1;
  opacity: 0;
}

.modalView.inFront {
  z-index: 100;
}

.terminal-window .inside {
  padding: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.terminal-window .inside h2 {
  text-align: center;
}

.modalView.show {
  opacity: 1;
}

.modalView .terminal-window-holder {
  border-radius: 5px;
}

.modalView .terminal-window {
  margin-top: 10%;
  -webkit-transform: translate3d(0, -100%, 0);
}

.modalView.show .terminal-window {
  -webkit-transform: translate3d(0,0,0);
}

/* LeftRightView */

.leftRightView div i {
  font-size: 45px;
  cursor: pointer;
}

.leftRightView div.hideLeft i {
  cursor: default;
  opacity: 0;
}

.leftRightView div {
  margin: 0 20px;
}

.leftRightView div.left {
  color: rgb(253, 50, 50);
  text-shadow: -1px 1px 3px rgba(0,0,0,0.7);
}

.leftRightView div.right {
  color: rgb(82, 255, 82);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

.leftRightView div.right:hover {
  color: #74FC74;
}

.leftRightView div.left:hover {
  color: #FF6969;
}

/* button stuff from liquidGraph */
.uiButton {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;

  vertical-align: middle;
  cursor: pointer;
}

.uiButton:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}
.uiButton:active {
  border-top-color: #1b435e;
  background: #1b435e;
}

.uiButtonYellow {
  border-top: 1px solid #f4ffa1;
  background: #288708;
  background: -webkit-gradient(linear, left top, left bottom, from(#e0e63c), to(#288708));
  background: -webkit-linear-gradient(top, #e0e63c, #288708);
  background: -moz-linear-gradient(top, #e0e63c, #288708);
  background: -ms-linear-gradient(top, #e0e63c, #288708);
  background: -o-linear-gradient(top, #e0e63c, #288708);
}
.uiButtonYellow:hover {
  border-top-color: #30f03d;
  background: #30f03d;
  color: #000000;
}
.uiButtonYellow:active {
  border-top-color: #5edb15;
  background: #5edb15;
}

.uiButtonPink {
  border-top: 1px solid #96d1f8;
  background: #80007c;
  background: -webkit-gradient(linear, left top, left bottom, from(#fa1ee0), to(#80007c));
  background: -webkit-linear-gradient(top, #fa1ee0, #80007c);
  background: -moz-linear-gradient(top, #fa1ee0, #80007c);
  background: -ms-linear-gradient(top, #fa1ee0, #80007c);
  background: -o-linear-gradient(top, #fa1ee0, #80007c);
}
.uiButtonPink:hover {
  border-top-color: #fa1ee0;
  background: #fa1ee0;
  color: #ccc;
}
.uiButtonPink:active {
  border-top-color: #80007c;
  background: #80007c;
}

.uiButtonRed {
  border-top: 1px solid #ffebee;
  background: #cc1212;
  background: -webkit-gradient(linear, left top, left bottom, from(#e08992), to(#cc1212));
  background: -webkit-linear-gradient(top, #e08992, #cc1212);
  background: -moz-linear-gradient(top, #e08992, #cc1212);
  background: -ms-linear-gradient(top, #e08992, #cc1212);
  background: -o-linear-gradient(top, #e08992, #cc1212);
}

.uiButtonRed:hover {
  border-top-color: #cc102f;
  background: #cc102f;
  color: #ccc;
}

.uiButtonRed:active {
  border-top-color: #ff0000;
  background: #ff0000;
}

.uiButtonWhite {
  border-top: 1px solid #96d1f8;
  background: #449ad4;
  background: -webkit-gradient(linear, left top, left bottom, from(#d1edff), to(#449ad4));
  background: -webkit-linear-gradient(top, #d1edff, #449ad4);
  background: -moz-linear-gradient(top, #d1edff, #449ad4);
  background: -ms-linear-gradient(top, #d1edff, #449ad4);
  background: -o-linear-gradient(top, #d1edff, #449ad4);
}

.uiButtonWhite:hover {
  border-top-color: #bae3ff;
  background: #bae3ff;
  color: #5c5c5c;
}

.uiButtonWhite:active {
  border-top-color: #9bcbeb;
  background: #9bcbeb;
}

