<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Learn Git Branching</title>
	<meta name="author" content="Peter Cottle">
	<link rel="stylesheet" href="style/main.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="style/font-awesome.css" type="text/css" charset="utf-8">
</head>
<body>
  
  <div id="interfaceWrapper" class="box horizontal flex1">
    <div id="controls" class="box vertical flex1">
      <div id="hintsEtc" class="box vertical">
      </div>

      <div id="commandLineHistory" class="box vertical flex3">
          <div class="toolbar box vertical">
            <div class="controls box horizontal">
              <div class="box flex1">
                <div class="close">
                </div>
              </div>
              <div class="box flex1">
                <div class="minimize">
                </div>
              </div>
              <div class="box flex1">
                <div class="plus">
                </div>
              </div>
            </div>
            <div>
              <i class="icon-home"></i>
              Learn Git Branching
            </div>
          </div>
        <div id="terminal" class="box flex1 horizontal">
          <div id="commandDisplay" class="box vertical flex1">
          </div>
        </div>

        <div id="commandLineBar" class="box vertical flex0">
          <div id="prompt" class="box horizontal">
            <span class="promptSign box">$</span>
            <span class="command box"></span>
            <span class="cursor box">&nbsp;</span>
          </div>
          <textarea id="commandTextField"></textarea>
        </div>
      </div>
    </div>

    <div id="canvasWrapper" class="box flex1 horizontal">
    </div>
  </div>

  <div id="dialogHolder" class="transitionOpacity">

  </div>

  <!-- *******************************************
       Scripts from here on out
       ****************************************** -->
  <script src="../lib/jquery-1.8.0.min.js"></script>
  <script src="../lib/jquery-ui-1.9.0.custom.min.js"></script>
  <script src="../lib/underscore-min.js"></script>
  <script src="../lib/backbone-min.js"></script>
  <script src="../lib/backbone.localStorage-min.js"></script>
  <script src="../lib/raphael-min.js"></script>

  <!-- Templates -->
  <script type="text/html" id="command-template">
       <p class="commandLine transitionBackground <%= status %>">
        <span class="prompt">$</span>
        <%= rawStr %>
        <span class="icons transitionAllSlow">
          <i class="icon-exclamation-sign"></i>
          <i class="icon-check-empty"></i>
          <i class="icon-retweet"></i>
          <i class="icon-check"></i>
        </span>
      </p>

      <div class="commandLineResult <%= resultType %>">
        <%= result %>
      </div>

      <div class="commandLineWarnings">
        <%= formattedWarnings %>
      </div>
  </script>

  <script type="text/html" id="interactive-rebase-template">
    <div id="iRebaseDialog" class="wrapper transitionAllSlow">
      <p>
        Rebasing <%= num %> Commits
      </p>
      <p class="helperText">
        (Drag and drop to re-order. Toggling the "pick" button to omit or re-add a commit)
      </p>
      <div id="entryHolders">
        <ul id="rebaseEntries">

        </ul>
      </div>

      <a id="confirmButton" class="uiButton uiButtonYellow">
        Confirm
      </a>
    </div>
  </script>

  <script type="text/html" id="interactive-rebase-entry-template">
    <li id="<%= id %>" class="rebaseEntry transitionOpacity">
      <div class="wrapper">
        <i class="icon-align-justify"></i>
        <span class="idwrapper">
          <%= id %>
        </span>
        <a id="toggleButton" class="uiButton uiButtonPink">
          Pick
        </a>
      </div>
    </li>
  </script>

  <!--
  My files!
   <script src="async.js"></script>
   <script src="constants.js"></script>
   <script src="errors.js"></script>

   <script src="miscViews.js"></script>

   the beefy git engine 
   <script src="git.js"></script> 

   command line 
   <script src="commandModel.js"></script> 
   <script src="commandViews.js"></script> 

   vis 
   <script src="collections.js"></script> 
   <script src="visuals.js"></script> 
   <script src="tree.js"></script> 
  <script src="animationFactory.js"></script> 

   levels 
   <script src="levels.js"></script> 

   on ready 
   <script src="main.js"></script> 

   -->
  <!-- build -->
  <script src="../build/bundle.js"></script>
</body>
</html>
