<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Learn Git Branching</title>
	<meta name="author" content="Peter Cottle">
	<link rel="stylesheet" href="style/main.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="style/font-awesome.css" type="text/css" charset="utf-8">
</head>
<body>
  
  <div id="interfaceWrapper" class="box horizontal flex1">
    <div id="controls" class="box vertical flex1">
      <div id="hintsEtc" class="box vertical">
      </div>

      <div id="commandLineHistory" class="box vertical flex3">
          <div class="toolbar box vertical">
            <div class="controls box horizontal">
              <div class="box flex1">
                <div class="close">
                </div>
              </div>
              <div class="box flex1">
                <div class="minimize">
                </div>
              </div>
              <div class="box flex1">
                <div class="plus">
                </div>
              </div>
            </div>
            <div>
              <i class="icon-home"></i>
              Learn Git Branching
            </div>
          </div>
        <div id="terminal" class="box flex1 horizontal">
          <div id="commandDisplay" class="box vertical flex1">
          </div>
        </div>
      </div>

      <div id="commandLineBar" class="box vertical flex0">
        <textarea id="commandTextField"></textarea>
      </div>
    </div>

    <div id="canvasWrapper" class="box flex1 horizontal">
    </div>
  </div>

  <!-- *******************************************
       Scripts from here on out
       ****************************************** -->
  <script src="../lib/jquery-1.8.0.min.js"></script>
  <script src="../lib/underscore-min.js"></script>
  <script src="../lib/backbone-min.js"></script>
  <script src="../lib/raphael-min.js"></script>

  <!-- Templates -->
  <script type="text/html" id="command-template">
      <p class="commandLine transitionBackground <%= status %>">
        <span class="prompt">$</span>
        <%= rawStr %>
        <span class="icons transitionAllSlow">
          <i class="icon-exclamation-sign"></i>
          <i class="icon-check-empty"></i>
          <i class="icon-retweet"></i>
          <i class="icon-check"></i>
        </span>
      </p>

      <p class="commandLineResult <%= resultType %>">
        <div class="commandLineResultWrapper">
          <%= result %>
        </div>
      </p>

      <p class="commandLineWarnings">
        <div class="commandLineWarningsWrapper">
          <%= warnings %>
        </div>
      </p>
  </script>

  <!-- My files! -->
  <script src="main.js"></script>

  <script src="async.js"></script>
  <script src="constants.js"></script>
  <script src="errors.js"></script>

  <!-- the beefy git engine -->
  <script src="git.js"></script>

  <!-- command line -->
  <script src="commandModel.js"></script>
  <script src="commandViews.js"></script>

  <!-- vis -->
  <script src="collections.js"></script>
  <script src="visuals.js"></script>
  <script src="tree.js"></script>
  <script src="animationFactory.js"></script>

</body>
</html>
